@import "tailwindcss";
@layer base;


@layer base {
    body {
        background: var(--background);
        color: var(--foreground);
        font-family: var(--font-mono);
    }

    p {
        color: var(--foreground);
    }

    a {
        transition: 0.1s;
        color: var(--foreground);
        text-decoration: underline;
    }

    a:hover {
        color: var(--accent-text);
    }

    input {
        background: var(--background);
        color: var(--foreground);
        border: 1px solid var(--foreground);
        padding: 5px;
        outline: none;
    }

    input:focus {
        border-color: var(--accent);
        color: var(--accent-text);
    }

    button {
        transition: 0.1s;
        padding: 5px;
        border: 1px solid var(--foreground);
    }
}