@import "tailwindcss";
@tailwind utilities;

@layer utilities {
    .text-shadow {
        text-shadow: var(--accent-shadow);
    }

    .text-accent, .hover\:text-accent:hover,
    .group:hover .group-hover\:text-accent {
        color: var(--accent-text);
        font-family: var(--font-mono);
    }

    .border-accent, .hover\:border-accent:hover,
    .group:hover .group-hover\:border-accent {
        border: 1px solid var(--accent);
    }

    .border-regular, .border-focus-regular {
        border: 1px solid var(--foreground);
    }

    .border-focus-regular:focus-within {
        border-color: var(--accent);
    }

    .border-bottom, .hover\:border-bottom:hover {
        border-bottom: 1px solid var(--accent);
    }

    .button {
        background: var(--accent);
        color: var(--background);
        border-color: var(--accent);
    }

    .button-secondary, .button-disabled {
        background: var(--background);
        color: var(--foreground);
    }

    .button:hover, .button-secondary:hover {
        background: var(--background);
        color: var(--accent);
        border-color: var(--accent);
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 12px;
        height: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: var(--foreground-dark);
        border: 5px solid transparent;
        background-clip: content-box;
    }
}